<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Chrome Test">
<parameter name="browser" value="Chrome"/>
    <classes>
      <class name="testNgPack.TestNgClass1"/>
    </classes>
  </test> <!-- Test -->
<!--  Chrome driver test  -->

<test name="OperaBrowserTest">
<parameter name="browser" value="Opera"/>
<classes>
<class name="testNgPack.TestNgClass1"/>
</classes>
</test>
<!--  Opera Driver Test  -->
</suite>
<!-- Opera Suite test  -->